@import "./../../var.css";

.nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    color: white;
    background-color: var(--blue-color);
    position: fixed;
    inset: 0;
    top: 50px;
}

.nav ul {
    margin-top: 16px;
}

.nav li {
    list-style-type: none;
    padding: 8px 16px;
    margin: 2px 8px;
    transition: 0.1s;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

.nav li:hover,
.nav-selected {
    color: var(--blue-color);
    background-color: white;
}